body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Detail page */

.user-info-list {
  list-style: none;
  margin-bottom: 20px;
}

.user-info-list li {
  margin: 10px 0;
}

.key {
  display: inline-block;
  width: 200px;
  font-size: 18px;
}

.value {
  display: inline;
  font-size: 18px;
}